<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- The directory in which the program creates all the incoming mails as files. Client value should match this. -->
    <!-- This directory MUST BE ACCESSIBLE on the client too.-->
    <!-- This should be the location of your SMB server plus a prefix. Example: "\\Desktop-m9c97vk\f\Boltmailer" -->
    <add key="OutputDirectory" value="C:\Boltmailer" />
    
    <!-- Imap hostname to connect to. -->
    <add key="EmailImapHost" value="imap.gmail.com" />
    
    <!-- Imap port to connect to. -->
    <add key="EmailImapPort" value="993" />
    
    <!-- Imap use SSL when connecting. -->
    <add key="EmailImapUseSSL" value="true" />
    
    <!-- Smtp hostname to connect to. -->
    <add key="EmailSmtpHost" value="smtp.gmail.com" />
    
    <!-- Imap port to connect to. -->
    <add key="EmailSmtpPort" value="465" />
    
    <!-- Smtp use SSL when connecting. -->
    <add key="EmailSmtpUseSSL" value="true" />
    
    <!-- Username to login to email services. Example: "john.doe@example.com" -->
    <add key="EmailUsername" value="!!! FILL THIS !!!" />
    
    <!-- Password to login to email services. Example: "MyPassword12345"-->
    <add key="EmailPassword" value="!!! FILL THIS !!!" />
    
    <!-- Frequency at which to update the inbox. In milliseconds. -->
    <add key="EmailRefreshFrequency" value="15000" />
    
    <!-- From what domain will Boltmailer only accept mails from. Example: "@gmail.com" or "@mycompany.xyz". -->
    <add key="TrustedDomain" value="!!! FILL THIS !!!" />

    <!-- Level of debug messages printed. Valid values are "Errors", "Debug" and "Everything". -->
    <add key="LogLevel" value="Errors" />
  </appSettings>
</configuration>